<!DOCTYPE html>
<html lang="en">

  {{> head}}

  <body>

    <div class="container">
      {{> navbar}}

      <div class="words">
        <h3 class="text-center py-3">Root words</h3>
        <div class="row">
        {{#each rootWords}}

          <div class="col-3 text-center py-3">
            <div class="list-group">
              <form action="/roots/{{this.name}}/{{this.id}}" method="post">
                <button class="list-group-item list-group-item-action" type="submit" name="id" value={{this.id}}>
                  <h3><b>{{name}}</b></h3>
                  <div><em>{{meaning}}</em></div>
                  <div>{{word_count}}</div>
                </button>
              </form>
            </div>
          </div>

        {{/each}}
        </div>
      </div>
    </div>
  </body>
</html>
