<!DOCTYPE html>
<html lang="en">

  {{> head}}

  <body>
    <div class="container">
      {{> navbar}}
      <br>
      <div class="row">
        <div class="col d-flex justify-content-end">
          <form action="/mywords/word/delete/{{this.id}}" method="get" name="del">
            <button class="btn btn-outline-danger btn text-left" type="submit" name="id" value={{this.id}}>
              {{> remove}}
              Remove
            </button>
          </form>
        </div>
      </div>
      <br>
      <div class="row justify-content-center text-center">
        <div class="col">
          <div class="col display-5">{{this.name}}</div>
        </div>
      </div>
      <br>
      {{#if this.definition}}
      <div class="row justify-content-center">
        <div class="col text-center">
          <h4><i>{{this.definition}}</i></h4>
        </div>
      </div>
      <br>
      <br>
      {{/if}}
      <div class="row justify-content-center text-center">
        <div class="col">
          <h5>Phonetic notation</h5>
        </div>
        <div class="col">
          <h5>Audio</h5>
        </div>
        <div class="col">
          <h5>Video</h5>
        </div>
        <div class="col">
          <h5>Membean</h5>
        </div>
      </div>
      <div class="row justify-content-center text-center">
        <div class="col">
          <h3>{{this.phoneticNotation}}</h3>
        </div>
        <div class="col">
          {{#if this.audioUrl}}
            {{> audioUrl}}
          {{/if}}
        </div>
        <div class="col">
          {{> videoUrl}}
        </div>
        <div class="col"><h3>
          {{#if word.membean}}
            Yes
          {{else}}
            No
          {{/if}}
          </h3>
        </div>
      </div>
      <br>
      {{#each this.wordFunctions}}
      <div class="row justify-content-center text-center">
        <div class="col">
          <h3>{{this.function}}</h3>
          <br>
          {{#if this.definitions}}
            <div class="row justify-content-center text-center">
              <div class="col">
                <h5>Definitions</h5>
              </div>
            </div>
            {{#each this.definitions}}
              <div class="row justify-content-center text-center">
                <div class="col">
                  <h4><i>{{this.definement}}</i></h4>
                </div>
              </div>
            {{/each}}
            <br>
          {{/if}}

          {{#if this.examples}}
            <div class="row justify-content-center text-center">
              <div class="col">
                <h5>Examples</h5>
              </div>
            </div>

            {{#each this.examples}}
              <div class="row justify-content-center text-center">
                <div class="col">
                  <h4><i>{{this.usage}}</i></h4>
                </div>
              </div>
            {{/each}}
          {{/if}}
        </div>
      </div>
      <br>
      <br>
      {{/each}}
    </div>
  </body>
</html>
