<!DOCTYPE html>
<html lang="en">

  {{> head}}

  <body>

    <div class="container">
      {{> navbar}}
      <h3 class="text-center py-3">{{letter}}{{wordRoot}}</h3>
      {{#if wordRootMeaning}}
      <h5 class="text-center">{{wordRootMeaning.meaning}}</h5>
      {{/if}}
      <table class="table table-bordered table-responsive">
        <thead class="text-center">
          <tr>
            <th style="width: 17%" scope="col">Word</th>
            <th style="width: 58%" scope="col">Definition</th>
            <th style="width: 12%" scope="col">Phonetics</th>
            <th style="width: 3%" scope="col">Membean</th>
            {{#if root}}
            <th style="width: 10%" scope="col">Root</th>
            {{/if}}
          </tr>
        </thead>
        <tbody>
        {{#each words}}
          <tr>
            <td>
              {{#if this.addWord}}
              <form action="" method="post" name="add">
                <div class="d-flex justify-content-between">
                  <button class="btn btn-outline-success btn text-left flex-grow-1" type="submit" name="add" value={{this.id}}>
                    {{> add}}
                    {{this.name}}
                  </button>
                  {{#if this.audioUrl}}
                    {{> audioUrl}}
                  {{/if}}
                  {{> videoUrl}}
                </div>
              </form>
              {{else}}
              <form action="" method="post" name="del">
                <div class="d-flex justify-content-between">
                  <button class="btn btn-outline-danger btn text-left flex-grow-1" type="submit" name="del" value={{this.id}}>
                    {{> remove}}
                    {{this.name}}
                  </button>
                  {{#if this.audioUrl}}
                    {{> audioUrl}}
                  {{/if}}
                  {{> videoUrl}}
                </div>
              </form>
              {{/if}}
            </td>
            <td>
              {{this.definition}}
            </td>
            <td>
              {{this.phoneticNotation}}
            </td>
            <td class="text-center">
              {{#if this.membean}}
              Yes
              {{else}}
              No
              {{/if}}
            </td>
            {{#if this.wordRoots}}
            <td>
              <div class="d-grid gap-1">
              {{#each this.wordRoots}}
                <form action="/roots/{{this.name}}/{{this.id}}" method="post">
                  <button class="btn btn-sm btn-outline-secondary btn-block" type="submit" name="id" value={{this.id}}>
                    {{this.name}}
                  </button>
                </form>
              {{/each}}
              </div>
            </td>
            {{/if}}
          </tr>
        {{/each}}
        </tbody>
      </table>

      {{#if root}}
      {{> pagination}}
      {{/if}}

    </div>
  </body>
</html>
