<!DOCTYPE html>
<html lang="en">

  {{> head}}

  <body>

    <div class="container">
      {{> navbar}}

      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Definition</th>
            <th scope="col">Membean?</th>
            <th scope="col">Root</th>
          </tr>
        </thead>
        <tbody>
        {{#each words}}
          <tr>
            <td>
              <h5>{{this.name}}</h5>
            </td>
            <td>
              {{this.definition}}
            </td>
            <td class="text-center">
              {{#if this.membean}}
              Yes
              {{else}}
              No
              {{/if}}
            </td>
            <td>
              <ul class="list-group">
              {{#each this.wordRoots}}
                <li class="list-group-item"><a href="/roots/{{this.name}}">{{this.name}}</a></li>
              {{/each}}
              </ul>
            </td>
          </tr>
        {{/each}}
        </tbody>
      </table>

      {{> pagination}}

    </div>
  </body>
</html>
