<!DOCTYPE html>
<html lang="en">

  {{> head}}

  <body>

    <div class="container">
      {{> navbar}}
      <h3 class="text-center py-3">{{wordRoot}}</h3>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Definition</th>
            <th scope="col">Membean?</th>
            <th scope="col">Audio</th>
            <th scope="col">Phonetics</th>
          </tr>
        </thead>
        <tbody>
        {{#each words}}
          <tr>
            <td>
              <h5>{{this.name}}</h5>
            </td>
            <td>
              {{this.definition}}
            </td>
            <td class="text-center">
              {{#if this.inlist}}
              Yes
              {{else}}
              No
              {{/if}}
            </td>
            <td>
              {{audio}}
            </td>
            <td>
              {{phoneticsText}}
            </td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
  </body>
</html>
